---
import TableOfContents from "@astrojs/starlight/components/TableOfContents.astro";
import type { Props } from "@astrojs/starlight/props";

---

<div>
  <TableOfContents {...Astro.props} />

</div>

